[submodule "src/submodules/music_in_numbers"]
	path = src/submodules/music_in_numbers
	url = https://github.com/mpbarbosa/music_in_numbers.git
[submodule "src/submodules/guia_turistico"]
	path = src/submodules/guia_turistico
	url = https://github.com/mpbarbosa/guia_turistico.git
